services:
  client:
    container_name: Bati-WealthAI_frontend
    build:
      context: ./client
      dockerfile: Dockerfile
    env_file: ./client/.env
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_URL=http://localhost:5000/api
      - NEXT_PUBLIC_BASE_API_URL=http://localhost:8000
      - BATI_BACKEND_URL=http://localhost:8000
    depends_on:
      - server
      - fastapi
    networks:
      - app_net

  server:
    container_name: Bati-WealthAI_backend
    build:
      context: ./server
      dockerfile: Dockerfile
    env_file: ./server/.env
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production
      - DATABASE_URL=postgres://postgres:yourpassword@postgres:5432/wealth_platform
      - JWT_SECRET=my_super_secret_key
    depends_on:
      - postgres
    networks:
      - app_net

  fastapi:
    container_name: Bati-WealthAI_fastapi
    build:
      context: ./fastapi
      dockerfile: Dockerfile
    env_file: ./fastapi/.env
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_NAME=wealth_platform
      - DB_USER=postgres
      - DB_PASSWORD=yourpassword
      - DATABASE_URL=postgresql://postgres:password@postgres:5432/wealth_platform
    depends_on:
      - postgres
    volumes:
      - ./fastapi/data:/app/data
    networks:
      - app_net

  postgres:
    container_name: Bati-WealthAI_database_postgres
    image: postgres:13-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: yourpassword
      POSTGRES_DB: wealth_platform
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./server/db-data/bati_wealthai_db.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    networks:
      - app_net

volumes:
  pgdata:

networks:
  app_net:
    driver: bridge
